<div class="data-table-wrapper">
  <table class="data-table">
    <!-- Header -->
    <thead>
      <tr class="data-table-header-row">
        <th 
          *ngFor="let column of columns"
          [class]="getHeaderClasses(column)"
          [style.width]="column.width"
          [style.color]="'var(--foreground)'">
          {{ column.label }}
        </th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody>
      <tr *ngIf="!data || data.length === 0" class="data-table-empty-row">
        <td [attr.colspan]="columns.length" class="data-table-empty-cell">
          {{ emptyMessage }}
        </td>
      </tr>
      
      <tr 
        *ngFor="let row of data; let index = index; trackBy: trackByFn"
        [class]="getRowClasses(row, index)"
        [style.border-left]="getRowBorder(row, index)"
        (click)="onRowClick(row, index)">
        <td 
          *ngFor="let column of columns; let colIndex = index"
          [class]="getCellClasses(column, colIndex, row, index)">
          <span [innerHTML]="column.render(row, index)"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
